aws/.terraform
*.tfstate
*.tfstate.backup
*.tfvars.NOTUSED
aws/SingleZonePubSubnets/.terraform/plugins/darwin_amd64/lock.json
aws/SingleZonePubSubnets/.terraform/plugins/darwin_amd64/terraform-provider-aws_v2.60.0_x4
