aws/.terraform
*.tfstate
*.tfstate.backup
*.tfvars.NOTUSED
aws/SingleZone/.terraform/plugins/darwin_amd64/terraform-provider-aws_v2.62.0_x4
aws/MultiZone/.terraform/plugins/darwin_amd64/terraform-provider-aws_v2.62.0_x4